html {
    background: url("vh.gif");
}


.container-column{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vh;
    gap: 15vh;
}

.subcontainer-row{
    height: auto;
    width: auto;
    display: inline-flex;
    justify-content: center;
    gap: 5vw;
}

.logo {
    width: 30vh;
    height: 30vh;
    border: 5px solid black;
    border-radius: 3vw;
    align-self: center;
    background-color: darkmagenta;
    padding: 1%;
    background-image: url("Zero-G_Network_Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10vh;
}

.play {
    width: 30vh;
    height: 10vh;
    border: 5px solid darkred;
    border-radius: 3vw;
    background-color: deepskyblue;
}

.forum{
    width: 30vh;
    height: 10vh;
    border: 5px solid red;
    border-radius: 3vw;
    background-color: deepskyblue;
}

.aForum{
    background-color: black;
    width: 10vw;
    height: 100%;
    text-decoration: none;
}



.store{
    width: 30vh;
    height: 10vh;
    border: 5px solid red;
    border-radius: 3vw;
    background-color: deepskyblue;
}

.discord{
    width: 30vh;
    height: 10vh;
    border: 5px solid red;
    border-radius: 3vw;
    background-color: deepskyblue;
}

